@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome to our Hospital</h1>
    <p>thank you fo choosing our hospital for your healthcare needs</p>
    <p>here we streve to provide the highest quality medical care to our patient</p>
    <p>learn more about our sevices and specialties</p>
    <p>Internal Medicine</p>
    <hr />
    <p>Pediatrics</p>
    <hr />
    <p>Surgery</p>
    <hr />
    <p>If you have any questions or need assistance, please dont hesitate to contact us</p>

</div>
